:root {
  --green: #9fe2bf;
  --white: #ffffff;
  --black: #000000;
  --cyan: #00FFFF;
}

* {
  color: var(--fontColor);
  font-family: helvetica;
}
body {
    background: var(--bg);
}

ul {
    font-family: helvetica;
}

li {
  list-style: circle;
}

.list {
  list-style: square;
}

#msg {
  font-family: monospace;
}

.light-theme {
  --bg: var(--white);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
}

.dark-theme {
  --bg: var(--black);
  --fontColor: var(--cyan);
  --btnBg: var(--white);
  --btnFontColor: var(--black);
}

.btn {
  position: absolute;
  top: 20px;
  left: 400px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

.btn:focus { outline-style: none; }
